*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: gray;
    padding:22px;
    border: 3px solid black ;
}

header nav{
    float: right;
    
    margin: 7px 0;
}
header nav ol li a:hover{

    color: purple;
    
}
header h1{
    margin: 0;
    display: inline;
    color: yellow;
  
}
.resume-title{
    text-align: center;
}
    
header nav ol li{
    margin: 0;
    display: inline;
}

header nav ol li a{
    margin:0 30px;
    font-size: 22px;
    text-decoration: none;
    color: yellow;
}


embed{
    
    background-color: grey;
    display: inline;
    margin: 10px;
    box-shadow: 5px 5px 10px black;

}

footer{
    background-color: gray;
    padding:22px;
    border: 3px solid black ;
    
}

footer h1{
    margin: 0;
    display: inline;
    color: black;
    
}

footer h1 a{
    text-decoration: none;
 
   
}
footer h1 a:hover{
    color: yellow;

}
footer img:hover{
    opacity: 50%;
}

.flex-transcript{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:10px;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
 
   
    
}

.container-item{
    margin: 10px;
   font-size: 40px;
   text-align: center;

   


   

}
.container img
{   
    margin: 5px;   
    vertical-align: middle;
}

.container img:hover
{   
    margin: 5px;   
    vertical-align: middle;
    opacity: 50%;
}

h1 img{
    margin: 5px;   
    vertical-align: middle;
}