
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: gray;
    padding:22px;
    border: 3px solid black ;
}

header nav{
    float: right;
    
    margin: 7px 0;
}
header nav ol li a:hover{

    color: purple;
   
    
}
header h1{
    margin: 0;
    display: inline;
    color: yellow;
  
}
.resume-title{
    text-align: center;
}
    
header nav ol li{
    margin: 0;
    display: inline;
}

header nav ol li a{
    margin:0 30px;
    font-size: 22px;
    text-decoration: none;
    color: yellow;
 
}
#rcorners1 {
    border-radius: 25px; 
    color: gray;
    box-shadow: 5px 5px 10px black;
  }


embed{
    
    background-color: grey;
    display: inline;
    margin: 10px;
    box-shadow: 5px 5px 10px black;

}

footer{
    background-color: gray;
    padding:22px;
    border: 3px solid black ;
    
}

footer h1{
    margin: 0;
    display: inline;
    color: black;
    
}

footer h1 a{
    text-decoration: none;
 
   
}
footer h1 a:hover{
    color: yellow;

}
footer img:hover{
    opacity: 50%;
}

.flex-transcript{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:10px;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
 
   
    
}

.container-item{
    margin: 10px;
   font-size: 40px;
   text-align: center;
 

}
.container-paragraph{
    margin: 10px;
   font-size: 20px;
   text-align: center;
   border: solid black 2px;
   border-radius: 25px;
   box-shadow: 5px 5px 10px black;
}
.container img
{   
    margin: 5px;   
    vertical-align: middle;
}

.container img:hover
{   
    margin: 5px;   
    vertical-align: middle;
    opacity: 50%;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container-item img:hover
{   
    margin: 5px;   
    vertical-align: middle;
    opacity: 50%;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 img{
    margin: 5px;   
    vertical-align: middle;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
      
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    h1 img{
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
  }

  @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

  body {
    background: #fff;
  }
  
  .title {
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
  }
  
  .wrapper {
    animation: scroll 70s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    color: #eee;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    
  }
  
  @keyframes scroll {
     100%{
      background-position:0px -3000px;
    }
  }
  
  @media (prefers-reduced-motion) {
    .wrapper {
      animation: scroll 200s linear infinite;
    }
  }
  
  @media (min-width: 670px) {
    .title {
      font-size: 5rem;
    }
  }


  

/* relevant styles */
.img__wrap {
    position: relative;
    box-shadow: 5px 5px 10px black;
   
  }
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    
    opacity: 0;
    padding-top: 100px;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
